 * {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 a {
    text-decoration: none;
    color: black;
 }

 a:hover {
    color: white;
 }